@msf:registry = http://repo.marketsimplified.com/repository/npm-hosted/		
init.author.name = subramanian.s		
init.author.email = subramanian.s@marketsimplified.com		
email=subramanian.s@marketsimplified.com		
always-auth=true		
_auth=YWRtaW46TXNmUmVwbyQyMDIw		